body {
	background-color: transparent;
}

.eqcheck-list {
	list-style: none;
	padding: 0;
}

.eqcheck-entry {
	width: 100%;
	font-size: 15px;
	text-align: center;
	display: flex;
	border: 1px solid var(--vscode-input-border);
}

.eqcheck-preview {
	width: 20em;
	height: 1.4em;
}

.eqcheck-preview:hover {
	outline: inset white;
}

.eqcheck-input {
	display: block;
	flex: 1;
	width: 100%;
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	border: none;
	padding: 0 0.6em;
}

.clear-eqchecks-button {
	display: block;
	border: none;
	margin: 0 auto;
}