<!doctype html>
<html>

<head>
	<script type="module" src=${product_script}></script>
	<link rel="stylesheet" href=${index_css}>
	<script type="text/javascript" src=${vis_network}></script>
</head>

<body class="full-view"">
		<div class=" full-view" id="prod-div-outermost">
	<div class="header">Product Graph</div>
	<div id="cfg">
	</div>
	<div class="zoom-buttons">
		<div>
			<input type="button" value="+" id="zoomin">
		</div>
		<div>
			<input type="button" value="-" id="zoomout">
		</div>
	</div>
	</div>
</body>

</html>