<!doctype html>
<html>

<head>
    <script type="module" src=${script}></script>
    <link rel="stylesheet" href=${index_css}>
    <script type="module" src=${prism_script}></script>
    <link rel="stylesheet" href=${prism_css}>
    <link rel="stylesheet" href="${prism_ln_css}">
    <script type="module" src=${prism_ln_script}></script>
</head>

<body class="full-view">
    <div class=" full-view">
        <div style="display:block;">
            <pre id="pre-code"><code id="code" class="language-clike"></code></pre>
        </div>
        <canvas id="canvas" style="position: absolute;"></canvas>
    </div>
</body>

</html>